BRIDGE_SECRET=change-this-to-a-long-random-secret
LDAP_URL=ldap://lldap:3890
LDAP_BIND_DN=uid=admin,ou=people,dc=example,dc=com
LDAP_BIND_PASSWORD=change-this-password
LDAP_USER_BASE_DN=ou=people,dc=example,dc=com
BRIDGE_PORT=18080
